@import "tailwindcss";
@import "tw-animate-css";
@import "./tiptap.css";

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(0.9711 0.0074 360.0000);
  --foreground: oklch(0.3000 0.0358 360.0000);
  --card: oklch(0.9711 0.0074 360.0000);
  --card-foreground: oklch(0.3000 0.0358 360.0000);
  --popover: oklch(0.9711 0.0074 360.0000);
  --popover-foreground: oklch(0.3000 0.0358 30.2042);
  --primary: oklch(0.5234 0.1347 360.0000);
  --primary-foreground: oklch(1.0000 0.0000 360.0000);
  --secondary: oklch(0.9571 0.0210 360.0000);
  --secondary-foreground: oklch(0.4254 0.1159 360.0000);
  --muted: oklch(0.9370 0.0142 360.0000);
  --muted-foreground: oklch(0.4495 0.0486 360.0000);
  --accent: oklch(0.8952 0.0504 360.0000);
  --accent-foreground: oklch(0.4254 0.1159 360.0000);
  --destructive: oklch(0.5386 0.1937 360.0000);
  --destructive-foreground: oklch(1.0000 0.0000 360.0000);
  --border: oklch(0.8805 0.0208 360.0000);
  --input: oklch(0.8805 0.0208 360.0000);
  --ring: oklch(0.5234 0.1347 360.0000);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.9370 0.0142 360.0000);
  --sidebar-foreground: oklch(0.3000 0.0358 360.0000);
  --sidebar-primary: oklch(0.5234 0.1347 360.0000);
  --sidebar-primary-foreground: oklch(1.0000 0.0000 360.0000);
  --sidebar-accent: oklch(0.8500 0.0800 360.0000 / 48%);
  --sidebar-accent-foreground: oklch(0.4254 0.3400 360.0000);
  --sidebar-border: oklch(0.8805 0.0208 360.0000);
  --sidebar-ring: oklch(0.5234 0.1347 360.0000);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --text-default: #000000;
  --text-gray: #6B7280;
  --text-brown: #92400E;
  --text-orange: #EA580C;
  --text-yellow: #CA8A04;
  --text-green: #16A34A;
  --text-blue: #2563EB;
  --text-purple: #9333EA;
  --text-pink: #DB2777;
  --text-red: #DC2626;
  --highlight-default: #FFFFFF;
  --highlight-gray: #F3F4F6;
  --highlight-brown: #FEF3C7;
  --highlight-orange: #FFEDD5;
  --highlight-yellow: #FEF9C3;
  --highlight-green: #DCFCE7;
  --highlight-blue: #DBEAFE;
  --highlight-purple: #F3E8FF;
  --highlight-pink: #FCE7F3;
  --highlight-red: #FEE2E2;
}

.dark {
  --background: oklch(0.2683 0.0279 150.7681);
  --foreground: oklch(0.9423 0.0097 72.6595);
  --card: oklch(0.3327 0.0271 146.9867);
  --card-foreground: oklch(0.9423 0.0097 72.6595);
  --popover: oklch(0.3327 0.0271 146.9867);
  --popover-foreground: oklch(0.9423 0.0097 72.6595);
  --primary: oklch(0.6731 0.1624 144.2083);
  --primary-foreground: oklch(0.2157 0.0453 145.7256);
  --secondary: oklch(0.3942 0.0265 142.9926);
  --secondary-foreground: oklch(0.8970 0.0166 142.5518);
  --muted: oklch(0.2926 0.0212 147.7496);
  --muted-foreground: oklch(0.8579 0.0174 76.0955);
  --accent: oklch(0.5752 0.1446 144.1813);
  --accent-foreground: oklch(0.9423 0.0097 72.6595);
  --destructive: oklch(0.5386 0.1937 26.7249);
  --destructive-foreground: oklch(0.9423 0.0097 72.6595);
  --border: oklch(0.3942 0.0265 142.9926);
  --input: oklch(0.3942 0.0265 142.9926);
  --ring: oklch(0.6731 0.1624 144.2083);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.2683 0.0279 150.7681);
  --sidebar-foreground: oklch(0.9423 0.0097 72.6595);
  --sidebar-primary: oklch(0.6731 0.1624 144.2083);
  --sidebar-primary-foreground: oklch(0.2157 0.0453 145.7256);
  --sidebar-accent: oklch(0.5752 0.1446 144.1813);
  --sidebar-accent-foreground: oklch(0.9423 0.0097 72.6595);
  --sidebar-border: oklch(0.3942 0.0265 142.9926);
  --sidebar-ring: oklch(0.6731 0.1624 144.2083);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --text-default: #FFFFFF;
  --text-gray: #9CA3AF;
  --text-brown: #D97706;
  --text-orange: #F97316;
  --text-yellow: #EAB308;
  --text-green: #22C55E;
  --text-blue: #3B82F6;
  --text-purple: #A855F7;
  --text-pink: #EC4899;
  --text-red: #EF4444;
  --highlight-default: #1F2937;
  --highlight-gray: #374151;
  --highlight-brown: #78350F;
  --highlight-orange: #9A3412;
  --highlight-yellow: #854D0E;
  --highlight-green: #166534;
  --highlight-blue: #1E40AF;
  --highlight-purple: #6B21A8;
  --highlight-pink: #9D174D;
  --highlight-red: #991B1B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --color-highlight-red: var(--highlight-red);
  --color-highlight-pink: var(--highlight-pink);
  --color-highlight-purple: var(--highlight-purple);
  --color-highlight-blue: var(--highlight-blue);
  --color-highlight-green: var(--highlight-green);
  --color-highlight-yellow: var(--highlight-yellow);
  --color-highlight-orange: var(--highlight-orange);
  --color-highlight-brown: var(--highlight-brown);
  --color-highlight-gray: var(--highlight-gray);
  --color-highlight-default: var(--highlight-default);
  --color-text-red: var(--text-red);
  --color-text-pink: var(--text-pink);
  --color-text-purple: var(--text-purple);
  --color-text-blue: var(--text-blue);
  --color-text-green: var(--text-green);
  --color-text-yellow: var(--text-yellow);
  --color-text-orange: var(--text-orange);
  --color-text-brown: var(--text-brown);
  --color-text-gray: var(--text-gray);
  --color-text-default: var(--text-default);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
